<section class="py-xl-9 py-5 bg-light" data-cue="fadeIn" data-show="true">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="text-center mb-xl-7 mb-5" data-cue="fadeIn" data-show="true">
          <h2 class="my-3 text-primary">{{ '创新技术，助力您的业务'|t }}</h2>
          <p class="mb-0 fw-semibold">
            {{ '万博提供多样化的解决方案，帮助您应对复杂的业务挑战，提升效率和竞争力'|t }}
          </p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      {% for solution in solutions %}
        <div class="col-lg-2 col-md-4 col-6">
          <a href="{{ solution.url }}" class="card-hover bg-white card card-lift text-center p-4" data-cue="zoomIn" data-show="true">
            <span class="border rounded-circle icon-shape icon-xxl mb-4">
              {{ solution.icon|raw }}
            </span>
            <h4 class="mb-0 card-text fs-5">{{ solution.title }}</h4>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
